#projetos{
    background-color: #366994;
    justify-content: flex-start;
    min-height: 100vh;
    height: auto;
}
.footer{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}
.list-projetos{
    width: 100vw;
    display: flex;
    justify-content: center;
}