#status{
    font-family: "Alegreya Sans", sans-serif;
    background-color: rgba(54, 105, 148, 1);
    background-image: url('../../../assets/code wallpaper.jpg');
    background-size: cover;
    justify-content: flex-start;
    padding-top: 5rem;
}
#status-div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 5rem;
}