#sobre{
    background-color: #ffffff;
    background-image: url('../../../assets/nnnoise.svg');
    background-size: cover;
    border-top: 2px solid #387eb8ab;
    padding-top: 5rem;
    justify-content: flex-start;
    max-height: calc(100vh - 5rem);
}
#skillicons{
    background: url('https://skillicons.dev/icons?i=androidstudio,angular,aws,bootstrap,css,django,docker,express,figma,flask,git,github,html,java,javascript,jquery,kali,kotlin,kubernetes,linux,md,mongodb,mysql,nginx,nodejs,postgres,postman,py,react,rust,tailwind,vscode&perline=32');
    width: 100vw;
    z-index: 10;
    margin: 0;
    padding-left: 0.25rem;
    text-align: center;
    min-height: 48px !important;
    box-sizing: border-box;
    -webkit-animation: slide 10s linear infinite;
}
@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -100vw 0px; }
}
#sobre-container{
    display: flex;
    align-items: start;
}
#sobre-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin-right: 5vw;
}
#sobre-title{
    position: relative;
    top: 50px
}
#nerdolaSobre{
    position: relative;
    bottom: 15px;
    filter: drop-shadow(0px 4px 4px #366994);
}
.toTop{
    z-index: 1;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    right: 40px;
    transition: 1s all linear;
    -webkit-transition: 1s all linear;
    -moz-transition: 1s all linear;
    -ms-transition: 1s all linear;
    -o-transition: 1s all linear;
}
.arrow-toTop{
    position: relative;
    background-color: #C78147;
    border-radius: 50px;
    height: 2rem;
    width: 2rem;
    filter: invert(100%);
    animation: upDown 4s infinite;
    padding: 1rem;
    opacity: 0.5;
}

.section{
    transition: all 0.6s ease-out;
}
#divCV{
    display: flex;
    justify-content: center;
}
#contacts{
    display: flex;
    justify-content: space-evenly;
}