*{
    background-color: #94D8FF;
    background-image: url('../../../assets/homeBG.png');
    background-size: cover;
}
#main{
    z-index: 10;
}
.main-gif{
    opacity: 0.5;
}
.a-move{
    transition: 1s all linear;
    -webkit-transition: 1s all linear;
    -moz-transition: 1s all linear;
    -ms-transition: 1s all linear;
    -o-transition: 1s all linear;
}
.arrow-main{
    opacity: 0.5;
    position: relative;
    animation: upDown 2s infinite;
}