<div id="bibliotecas" class="container">
    <div>
        <span class="fs-2 text-white text-shadow">
            Bibliotecas
        </span>
    </div>
    <div style="display:flex; justify-content: center; flex-direction: column; align-items: center; margin-top: 2.5rem;">
        <div>
            <p id="bib-title" class="fs-4 text-white text-shadow">
                Conheça minhas bibliotecas:
            </p>
        </div>
        <div class="list-projetos">
            @for (projeto of projetos; track $index) {        
                <Card [projeto]="projeto"></Card>
            }
        </div>
    </div>
</div>