*{
    font-family: "Alegreya Sans", sans-serif;
}
body{
    margin:0;
}
#main-content, html{
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.fs-1{
    font-size: 200px;
    font-weight: 800;
}
.fs-2{
    font-size: 128px;
    font-weight: 500;
}
.fs-3{
    font-size: 64px;
    font-weight: 500;
}
.fs-4{
    font-size: 27px;
    font-weight: 500;
}
.text-primary{
    color: #3C99D4;
}
.text-secondary{
    color: #366994;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.footer{
    display: flex;
    justify-content: center;
    position: relative;
    top: 150px;
}
.card{
    background-color: #F8F7F7;
    border-radius: 16px;
    padding: 1rem;
}
.text-shadow{
    text-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.25)!important;
}
.text-white{
    color: #FFFFFF;
}
.img-shadow{
    filter: drop-shadow(0px 4px 4px #366994);
}
.shadow{
    box-shadow: 0 4px 12px hsla(0, 0%, 0%, 0.25)!important;
}
.btn-primary{
    border-radius: 12px;
    text-decoration: none;
    background-color: #3C99D4;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 1rem;
}
@keyframes upDown {
    0% {top: 10px;}
    25%{top:0px;}
    50%{top:10px}
    75%{top:0px}
    100%{top:10px;}
}